html {
    margin:0;
    font-size:120%
}

body {
    background-color:white;
    color:black;
    font-family:Linux Biolinum G, CMU Sans Serif, sans-serif;
    max-width:800px;
    margin:auto;
    margin-top:0;
    border: solid black;
    border-width:0 thin;
}

@media (min-width: 801px) {
    body {
        background-image: url("Marbled.webp");
	background-size: cover;
    }
}

@media print {
    body {
	border: none !important;
    }
    a {
	display: none;
    }
}

main {
    padding:0 20px 20px;
    background-color:white;
}

header {
    text-align:center;
    background-color:white;
    padding:20px 20px 0;
}

#recipe_title {
    font-style:normal;
    font-size:2em;
    margin-bottom:10px
}

.up_arrow {
    font-weight:normal;
    vertical-align: top;
}

a {
    text-decoration:none;
    color: #7B0000;
    font-size:medium;
}

#ingredients {
    accent-color: #7B0000;
}

#title_container > h1 {
    margin: 0;
}

#title_container {
    padding-bottom:20px;
    border-bottom: thick double black;
}

#ingredients > ul {
    list-style: none;
    padding-left:21.45px;
}

input[type="checkbox"] {
    height: auto;
    width: auto;
}

h2 {
    font-size:1.35em;
}

#infobox {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

#title_and_info {
    text-align: left;
    width:100%;
    height:auto;
    justify-content:flex-start;
}

#image {
    max-width:100%;
    height:auto;
    width:auto;
    margin:10px;
    border: medium double black;
}

li {
    margin: 5px 0;
}

#top_button {
    padding:10px;
    border: thin solid black;
    font-weight: bold;
    font-size: medium;
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;

}
